<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <header th:insert="blocks/header::styleCss"></header>
</head>


<body>
<header th:insert="blocks/header::styleJs"></header>

<section class="jumbotron text-center">
    <div class="container">
        <h4 class="jumbotron-heading">ADMIN PANEL</h4>
    </div>
</section>

<header th:insert="blocks/adminnav::adminnav"></header>



</body>
</html>
</html>