<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <header th:insert="blocks/header::styleCss"></header>
    <header th:insert="blocks/header::styleJs"></header>
</head>
<body>
<header th:insert="blocks/nav::nav"></header>

        <div class="container ml-5">
            <h1 class="new-products-title">Контакты</h1>
            <p><strong>Наш адрес </strong>г. Санкт-Петербург Невский проспект, дом 3</p>
            <p><strong>Телефон отдела продаж </strong>8 (555) 555-55-55 </p>
            <p>Пн-Пт 9.00 - 19.00</p>
            <p>Электронный ящик: <span style="line-height: 1.6em;">info@sale.ru</span></p>

            <footer>
                <div class="col">
                    <h2>Мы принимаем оплату</h2>
                    <img src="/images/payments.png" title="Мы принимаем оплату" alt="Мы принимаем оплату">
                </div>
            </footer>

        </div>
</body>
</html>