<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <header th:insert="blocks/header::styleCss"></header>
    <header th:insert="blocks/header::styleJs"></header>
    <title>Delivery
    </title>
</head>
<body>
<header th:insert="blocks/nav::nav"></header>

    <div class="container ml-5">
        <h1 class="new-products-title">Доставка</h1>
        <div class="container">

            <!--Центральная часть сайта-->
            <div class="center">
                <div><h1 class="new-products-title">Доставка и оплата</h1>
                    <p><strong>Курьером по Москве</strong></p>
                    <p>Доставка осуществляется по Москве бесплатно, если сумма заказа составляет свыше 3000 руб.  Стоимость доставки меньше чем на сумму 3000 <span style="font-size: 12px;">руб</span>.
                     Составляет 700 руб. Данный способ доставки дает вам возможность получить товар прямо в руки, курьером по <span style="font-size: 12px;">Москве </span>. Срок доставки до 24 часов с момента заказа товара в интернет - магазине.</p>
                    <p><strong>Доставка по России</strong></p>
                    <p>Доставка по <span style="font-size: 12px;">России</span>осуществляется с помощью почтово – курьерских служб во все регионы <span style="font-size: 12px;">России</span>. Стоимость доставки зависит от региона и параметров товара. Рассчитать стоимость доставки Вы сможете на официальном сайте почтово – курьерской службы Почта-<span style="font-size: 12px;">России</span> и т.д. Сроки доставки составляет до 3-х дней с момента заказа товара в интернет – магазине.</p>
                    <h2>Способы оплаты:</h2>
                    <p><strong>Наличными: </strong>Оплатить заказ товара Вы сможете непосредственно курьеру в руки при получение товара. </p>
                    <p><strong>Наложенным платежом:</strong> Оплатить заказ товара Вы сможете наложенным платежом при получение товара на складе. С данным видом оплаты Вы оплачиваете комиссию за пересылку денежных средств. </p>
                </div><!--Центральная часть сайта-->

                <footer>
                    <div class="col">
                        <h2>Мы принимаем оплату</h2>
                        <img src="/images/payments.png" title="Мы принимаем оплату" alt="Мы принимаем оплату">
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>