<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#" class="btn btn-secondary my-2">Back to top</a>
            </p>
        </div>
    </footer>
</div>

<div th:fragment="adminFooter" xmlns:th="http://www.w3.org/1999/xhtml">
    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="/admin" class="btn btn-secondary my-2">Back to Admin page</a>
            </p>
        </div>
    </footer>
</div>